
.nav-logo {
    margin-left : 20px;
    width : 50px;
}

.button-links {
    margin-top : 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.login-button {
    margin-left : 20px;
    margin-right : 20px;
}

