* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.navbar {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-logo {
    width: 50px;
}

.nav-links {
    margin-left: 5px;
    margin-right: 5px;
}

.login-button {
    margin-left: 5px;
    margin-right: 5px;
}





