* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.navbar {
    display: flex;
    padding: 12px 12px;
}

.nav-logo {
    width: 50px;
}

.nav-links {
    margin: 5px 5px;
}

.login-button {
    margin: 5px 5px;
}





