* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.navbar {
    display: flex;
    padding: 12px 12px;
}

.navbar--logo {
    width: 50px;
}

.navbar--links {
    margin: 5px 5px;
    color: #000000;
}

.navbar--login {
    margin: 5px 5px;
    color: #ffffff;
}





